body {
    display: grid;
    grid-template-columns: 1fr 3fr / 1fr 3fr;
}


li {
    list-style-type: none;
}

.header {
    padding: 12px;
}
.sidebar {
    grid-column: 1;
    grid-row: 1/3;
    background-color: #2563eb;
    display: grid;
    grid-template: 40px 1fr 1.5fr / 1fr;
    padding-right: 20px;
}

.sidebar #sidebar-header {
    grid-area: 1 / 1;
    padding: 12px;
    margin: 10px;
}
.sidebar .sidebar-nav {
    grid-area: 2 /1 / 3 / 2;
}

.sidebar .sidebar-other {
    grid: 3 / 1;
}

.sidebar  li {
    margin: 15px 0;
}

.header {
    grid-column: 2;
    grid-row: 1;
}

.main-content {
    display: grid;
    grid-template: 40px 1fr 40px 1fr / 2fr 1fr ;
    grid-gap: 15px;
    background-color: #dbeafe;
    gap: 20px;
    padding-left: 20px;
    
}

.projects {
    display: grid;
    gap: 8px;
    grid-template: repeat(3, 1fr) / 1fr 1fr; 
    grid-area: span 4/ 1;
    
    
}

.single-project {
    border-radius: 15px;
    background-color: grey;
    
    padding: 12px;
}



#projects-header {
    grid-area: 1 / 1;
}

#announcements-header {
    grid-area: 1 / 2;
}

.announcements {
    grid-area: 2/ 2;
    padding: 12px;
    box-shadow: 2px;
    background-color: #38bdf8;
    border-radius: 15px;
}

#trending-header {

    grid-area: 3 / 2;
}

.trending {
    border-radius: 15px;
    padding: 12px;
    grid-area: 4/ 2;
    background-color: #38bdf8;
}